.company{
    padding: 130px 0 120px 0;
    @media screen and (max-width:1023px) {
        padding: 60px 0;
    }
    &__container{
        &-title{
            @include title-wrap;
        }
        &-blocks{
            display: flex;
            flex-direction: column;
            gap: 40px;
            &-item{
                display: flex;
                gap: 40px;
                border: 1px solid $--stroke;
                background:  #F6F4F4;
                @media screen and (max-width:1023px) {
                    flex-direction: column-reverse;
                }
                img{
                    object-fit: cover;
                    
                    width: 100%;
                    max-width: 650px;
                    @media screen and (max-width:1023px) {
                        max-width: 100%;
                    }
                }
                div{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 40px;
                    span{
                        margin-bottom: 10px;
                        font-size: 16px;
                        font-weight: 600;
                    }
                    h3{
                        margin-bottom: 20px;
                       span{
                        color: $--red;
                        font: inherit;
                       }
                    }
                    p:not(:nth-last-of-type(1)){
                        margin-bottom: 20px;
                    }
                }
            &:nth-of-type(2){
                flex-direction: row-reverse;
                // div{
                //     padding-left: 40px;
                //     padding-right: 0;
                // }
                @media screen and (max-width:1023px) {
                    flex-direction: column-reverse;
                }
                
            }
            
            }
        }
    }
}