
.services{
    .services-page & {
        background-color: $--white;
        padding-bottom: 120px;
        @media screen and (max-width:1023px) {
            padding-bottom: 60px;
        }
    }
    padding: 76px 0 80px 0;
    background-color: $--black-blue;
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        &-title{
            @include title-wrap;
            width: 100%;
            @media screen and (max-width: 900px) {
                flex-direction: column;
                align-items: flex-start;
            }
            width: 100%;
            h2,
            p{
                color: $--white;
                @media screen and (max-width: 900px) {
                    max-width: 100%;
                 }
            }
            .services-page & {
                h2,
                p{
                    color: $--black-blue;
                }
            }
        }
        &-block{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 40px;
            margin-bottom: 60px;
            .services-page &{
                margin-bottom: 0;
            }
            width: 100%;
            @media screen and (max-width:1023px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media screen and (max-width:768px) {
                grid-template-columns: 1fr;
            }
            &-item{
                display: flex;
                flex-direction: column;
                width: 100%;
                transition:all .5s;
                width: 100%;
              &  img{
                    max-width: 100%;
                    width: 100%;
                }
               & svg{
                    width: 40px;
                    height: 40px;
                }
               & div{
                    background: $--white;
                    padding: 24px 20px 23px 20px;
                    @include flex-space;
                    max-width: 420px;
                    width: 100%;
                    gap: 10px;
                    transition: inherit;
                    @media screen and (max-width:768px) {
                       max-width: 100%;
                    }
                    svg rect{
                        fill: $--black-blue;
                    }
                    .services-page & {
                        background: $--black-blue;
                        
                        svg path{
                            fill: $--black-blue;
                        }
                        svg rect{
                            fill: $--white;
                        }
                    }
                    @media screen and (max-width:1023px) {
                        max-width: 100%;
                    }
                   & p{
                        max-width: calc(100% - 53px);
                        white-space: nowrap; 
                        overflow: hidden;
                        text-overflow:ellipsis;
                        padding: 0;
                        font-size: 24px;
                        font-weight: 800;
                        text-transform: uppercase;
                        .services-page &{
                            color: $--white;
                        }
                        @media screen and (max-width:1370px) {
                            max-width: 210px;
                        }
                        @media screen and (max-width:1023px) {
                            max-width: 260px;
                        }
                        @media screen and (max-width:768px) {
                            max-width: 300px;
                        }

                    }
                }

                .services-page &:hover{
                    svg path{
                        fill: $--red;
                    }
                    svg rect{
                        fill: $--white;
                    }
                }
                &:hover{
                    
                    div{
                        background: $--red;
                        color: $--white;
                    }
                    svg path{
                        fill: red;
                    }
                    svg rect{
                        fill: $--white;
                    }
                }
            }
       
        }
        & a{
            max-width: 420px;
            width: 100%;
            @media screen and (max-width:768px) {
                max-width: 100%;
                min-width: 100%;
            }
        }
    }
}
