
    $--black-blue: #22272B;
    $--red: #E32528;
    $--white: #FFF;
   $--stroke: #BEBEBE;
    $--white: #fff;
    $--dark-purple-blue:#0D0F1F;
    $--Background: #F8F8F8;
    
    @mixin flex-center() {
    display: flex;
    align-items: center;
}
    @mixin flex-space() {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin title-wrap() {
    @include flex-space;
    margin-bottom: 40px;
    
    h2 {
        span {
            color: $--red;
        }
    }
    p {
        max-width: 420px;
    }
   
    
}
